@font-face {
    font-family: 'Assistant';
    src: url('Assistant-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('Assistant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

